SPRING_PROFILES_ACTIVE=dev

# For prod profile
DB_URL=jdbc:postgresql://<host>:5432/<database>
DB_USERNAME=<db_user>
DB_PASSWORD=<db_password>

JWT_SECRET=<BASE64_SECRET_32_BYTES_MIN>
JWT_EXPIRATION_MS=86400000
